.add-item {
    width: 100%;
    padding: $s-size;

    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.add-item__text-input {
    flex-grow: 1;
    padding: 10px;

    outline: none;
    margin: 0 $s-size 0 0;
}

// .add-item__btn {
//     width: 25%;
// }