.list-item-wrapper {
    width: 100%;
    height: 100%;

    border: transparent 1px solid;
}

.list-item {
    width: 800px;
    height: 100%;
    // max-height: 0px;
    background: white;

    border: 1px $light-grey solid;
    border-width: 0 0 1px 0;
    border-radius: $border-radius;
    box-shadow: $grey-shadow;
    
    padding: 0 $s-size;
    margin: 10px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: $m-size;
    overflow: auto;

}

.completed {
    background: rgb(123, 218, 123);
    text-decoration: line-through;
}