.remove-items {
    width: 100%;
    padding: $s-size 0;

    display: flex;
    justify-content: space-between;
    
}

.remove-btn {
    width: 48%;
    height: 30px;

    //background-image: linear-gradient(#f7474a, darken(#f7474a, 10%));
}

.remove-btn:hover {
    //transform: translate(-1px, -1px);
    box-shadow: $grey-shadow;
}

.remove-btn:active {
    border: grey solid;
    border-width: 0 2px 2px 0;
}