* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {
    font-size: 62.5%;
    margin: 0;
    // background: rgb(69, 69, 189);
}

body {
    // font-family: 'futura', arial, sans-serif;
    font-family: 'Raleway', cursive;

    font-size: $m-size;
    color: $text-grey;

    background: white;
    background: linear-gradient(356deg, rgba(6,0,113,1) 0%, rgba(22,22,144,1) 7%, rgba(16,74,182,1) 24%, rgba(16,153,217,1) 100%);
    min-height: 100vh;
    height: 100%;
}

button {
    cursor: pointer;
    color: white;
    // background-image: linear-gradient(#2dabf9, #0688fa);
    background-image: radial-gradient(#0688fa 0%, #2dabf9 90%);
    font-family: 'Raleway', sans-serif;

    border-radius: $border-radius;
    //border: 1px solid $light-grey;
    border: none;
    //box-shadow: $grey-shadow;
    
    outline: none;
}

button:disabled {
    cursor: default;
}